pyppeteer==0.0.25
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
fire==0.2.1
gevent==1.4.0
greenlet==0.4.15
idna==2.8
multidict==4.7.1
PyYAML==5.1.2
requests==2.22.0
simplejson==3.17.0
six==1.13.0
slackclient==2.5.0
termcolor==1.1.0
urllib3==1.25.7
websocket-client==0.56.0
yarl==1.4.2
